Yolo_Model/data/
Yolo_Model/dataset/
Face_Recognition_Model/dataset/
Face_Recognition_Model/data/
Yolo_Model/utils/output/
Face_Recognition_Model/training_checkpoints/
Face_Recognition_Model/application_data/